@font-face {
  font-family: antiqueOlive;
  src: url("AntiqueOlive.ttf");
}

html {

}

body {
  background-color: #F98F1B;
}

h1 {
  font-family: 'antiqueOlive', cursive;
  letter-spacing: -3px;
  text-align: center;
  color: black;
  font-size: 48px;
}

h2 {
  margin-top: -5px;
  font-family: 'Chewy', cursive;
  text-align: center;
  color: #CAD8DA;
  font-size: 36px;
}

div.row {
  text-align: center;
}

div.square {
  text-align: center;
  /*border-radius: 25px;*/
  border: 5px dashed black;
  background-color: white;
  height: 150px;
  width: 150px;
  margin: 5px;
  display: inline-block;
}

p {
  position: absolute;
  text-align: center;
  font-size: 64px;
}
