html {
}


table {
  border: 3px solid black;
}

table tbody tr td {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.trooper {
  background-image: url("stormtrooper.jpg");
}

.vader {
  background-image: url("vader.jpg");
}
