html {}
.board { margin:1em auto; border-collapse:collapse }
.board td {
    cursor:pointer;
    width:100px; height:100px;
    border:5px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:16px
}

.board td.x-clicked {
    background-color:red;
}
.board td.o-clicked {
    background-color:blue;
}
