html {
  background: url(./jungle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 10%;
}

table {
  border-collapse: collapse;
  width: 30%;
  margin: auto;
}

table td {
  border: 1px solid black;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

td {
  padding: 10%;
}
