h1{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 70px;
  margin: 20px;
}
#tic-tac-toe {
  text-align: center;
}

table {
  border-collapse: collapse;
}

.square{
  height: 130px;
  width: 130px;
  font-size: 65px;
}

table td {
  border: 1px solid white;
  background-color: #B1E6DC;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}
